/* /////////////////// */
/* ///////// */
/* ////////////////////////////////App Alumnis//////////////////////////////// */
body {
    background: white;
}

hr {
    width: 180px;
    background-color: white;
}

li {
    list-style-type: none;
}

.home {
    margin-top: 15vh;
}

.homeTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: #e80041;
}

.jumbotron {
    height: 80vh;
    background-size: cover;
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Navbar//////////////////////////////// */
nav {
    background-color: #e80041;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Sidebar//////////////////////////////// */
.sidebar {
    height: 100vh;
}

.divbloc {
    height: 12vh;
}

.divside {
    height: 88vh;
    background-color: #e80041;
}

.btnSize {
    width: 150px;
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Post//////////////////////////////// */
.postCat {
    height: 25vh;
}

.lightMain {
    height: 12vh;
    z-index: 3;
    background-color: white;
}

.postNav {
    background-color: #e80041;
    height: 15vh;
}

.cardArticle {
    height: 65vh;
    background-color: #CFD8DC;
}

.img1 {
    height: 35vh;
}

.img2 {
    height: 60vh;
    width: 50vw;
}

.mobile {
    display:none;
}

.mobileDrop {
    margin-left: 60px;
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////@MEDIA//////////////////////////////// */
@media (max-width: 768px) {

    .sidebar {
        display: none;
    }

    .mobileCache {
        display: none;
    }

    .mobile {
        display: block;
    }

    .postNav {
        height: 17vh;
    }

    .cardArticle {
        height: 75vh;
    }
}
/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Media Responsiv Table//////////////////////////////// */
@media 
only screen and (max-width: 768px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
}